<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contacts"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Detail</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentAlert()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img [src]="loadedContact.photo"></ion-img>
          </ion-avatar>
          <ion-label>
            {{ loadedContact.name }}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let email of loadedContact.email">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-label>{{email}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item *ngFor="let telp of loadedContact.telephone">
            <ion-icon slot="start" name="call-outline"></ion-icon>
            <ion-label>{{telp}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
