<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="secondary">Add New Contact</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" color="tertiary">
  <ion-list>
    <ion-item color="secondary">
      <ion-label position="floating">Nama</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item color="secondary">
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item color="secondary">
      <ion-label position="floating">Nomor Telepon</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-text-center ion-padding-vertical" >
    <ion-button  color="primary" (click)="addContact()">Save Contact</ion-button>
  </div>
</ion-content>
