<ion-app>
  <ion-menu side="end" menuId="recipesMenu">
    <ion-header>
      <ion-toolbar>
        <ion-title>UMN Recipes</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="recipesMenu">
          <ion-item routerLink="/recipes/tabs/discover">
            <ion-icon slot="start" name="restaurant-outline"></ion-icon>
            <ion-label>Discover Recipes</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="recipesMenu">
          <ion-item routerLink="/recipes/tabs/creations">
            <ion-icon slot="start" name="checkbox-outline"></ion-icon>
            <ion-label>My Creations</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="start" menuId="placesMenu">
    <ion-header>
      <ion-toolbar>
        <ion-title>UMN BnB</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="placesMenu">
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Discover Places</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="placesMenu">
          <ion-item lines="none" routerLink="/places/tabs/offers">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Your Bookings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="placesMenu">
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
