<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Contact</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contacts"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary" class="ion-padding">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-list>
      <ion-item color="secondary">
        <ion-label position="floating">ID</ion-label>
        <ion-input type="text" ngModel name="id" #idCtrl="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-item color="secondary" *ngIf="!idCtrl.valid && idCtrl.touched">
        <ion-label>ID cannot be empty</ion-label>
      </ion-item>
      <ion-item color="secondary">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" ngModel name="name" #nameCtrl="ngModel" required></ion-input>
      </ion-item>
      <ion-item color="secondary" *ngIf="!nameCtrl.valid && nameCtrl.touched">
        <ion-label>Name cannot be empty</ion-label>
      </ion-item>
      <ion-item color="secondary">
        <ion-label position="floating">Telephone 1</ion-label>
        <ion-input type="text" ngModel name="telephone1" #telephoneCtrl="ngModel" required></ion-input>
      </ion-item>
      <ion-item color="secondary">
        <ion-label position="floating">Telephone 2</ion-label>
        <ion-input type="text" ngModel name="telephone2" #telephoneCtrl="ngModel" required></ion-input>
      </ion-item>
      <ion-item color="secondary" *ngIf="!telephoneCtrl.valid && telephoneCtrl.touched">
        <ion-label>Telephone cannot be empty</ion-label>
      </ion-item>
      <ion-item color="secondary">
        <ion-label position="floating">E-Mail 1</ion-label>
        <ion-input type="email" ngModel name="email1" #emailCtrl="ngModel" required email>
        </ion-input>
      </ion-item>
      <ion-item color="secondary">
        <ion-label position="floating">E-Mail 2</ion-label>
        <ion-input type="email" ngModel name="email2" #emailCtrl="ngModel" required email>
        </ion-input>
      </ion-item>
      <ion-item color="secondary" *ngIf="!emailCtrl.valid && emailCtrl.touched">
        <ion-label>Email must be valid</ion-label>
      </ion-item>


    </ion-list>
    <ion-button (click)="onSubmit(form)">Submit</ion-button>
  </form>
</ion-content>
